<h1>Dinosaurs</h1>
<div>
    <div *ngIf="dinosaurs">
        <div class="dinosaurs">
        <div *ngFor="let dinosaur of dinosaurs">
            <div class="dinosaur">
                <div *ngIf="dinosaur.name ">
                    <h2>{{ dinosaur.name }}</h2>

                    <img [src]="dinosaur.image" alt="{{ dinosaur.name }}" width="100" height="100">
                    <p><b>Level {{ dinosaur.level }}</b></p>
                    <p><b>Attack {{ dinosaur.attack }}</b></p>
                    <p><b>HP {{ dinosaur.hp }}</b></p>
                </div>

            </div>
        </div>
        </div>
    </div>
</div>